body {
    background-color: bisque;
    /* background-image: url(background.jpg); */
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.digital {
    margin-top: 50px;
    font-size: 3rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.analog {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 20px solid grey;
    background-color: rgb(241, 241, 241);
    position: relative;
    box-shadow: -15px -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: cover; */
    /* background-image: url('eren.jpg');  */
}

.analog span {
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    text-align: center;
    inset: 12px;
    font-size: 1.5rem;

}

.analog span.rotate {
    position: absolute;
    transform: rotate(calc(-30deg*var(--i)));
    font-size: 1.5rem;
    color: black;
}

.analog::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
}

.hands {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
}

.hands i {
    width: 5px;
    height: var(--h);
    position: absolute;
    background-color: var(--color);
    border-radius: 70px;
}

.ears {
    margin: 50px 0px 20px 0px;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 250px;
}

.e2 {
    width: 150px;
    height: 75px;
    background-color: darkgray;
    border-radius: 100px 100px 15px 15px;
    rotate: 25deg;
    box-shadow: -15px 4px;
}

.ear {
    width: 150px;
    height: 75px;
    background-color: darkgray;
    border-radius: 100px 100px 15px 15px;
    rotate: -25deg;
    box-shadow: -15px -4px;
}

.poles {
    margin: -40px 0px -70px 0px;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 300px;
}

.pole {
    width: 20px;
    height: 100px;
    background-color: darkgray;
    rotate: -25deg;
    z-index: -1;
    box-shadow: -5px 0px;
}

.pole2 {
    width: 20px;
    height: 100px;
    background-color: darkgray;
    rotate: 35deg;
    z-index: -1;
    box-shadow: -5px 0px;
}